/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1000px;
    margin:0 auto
}

footer{
    height: 100px;
    position: fixed;
    width: 100%;
    background-color: black;
}

main{
    height: calc(100vh - 100px);
    background-color: black
}

img{
    width: 100%;
    display: inline;
}

.my-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.my-col{
    width: calc((100% / 7) - 14px);
    background-color: blanchedalmond;
    border: 2px solid black;
    
    margin-bottom: 5px;
    
    
    
}



.microphone, .pinco{
    color: white;
    background-color: rgba(0, 0, 0.5);
    margin: 3px;
    padding: 10px;
    
}

.microphone{
    position: absolute;
    bottom: 0;
    left: 0;
}

.foot-bar{
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.end{
    background-color:#4A4A4A;
    width: 100px;
    height: 48px;
    text-align: center;
    
}

.dx>*{
    color: red;
}

.sx{
    display: flex;

}

.center{
    display: flex;
}

.control{
    background-color: #222222;
    border: none; 
    color: white; 
    padding: 5px 10px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 0.75rem;
    cursor: pointer; 
    border-radius: 4px; 
     
}
.control-special{
    color: green;
    background-color: #222222;
    border: none;
    margin-right: 10px;
    
}

.control-special p {
    color: white;
    
}

.freccia{
    color: white;
}

.audio, .video, .invite-member{
    display: flex;
    align-items: center;
}
















