/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 90vh;
    padding: 30px;
    box-sizing: border-box;
    overflow-y: hidden;
}

.contenitore{
    width: 100vw;
    padding-left: 25px;
    padding-right: 25px;
}

footer{
    width: 100vw;
    height: 10vh;  
    background-color: #222;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    position: relative;
    z-index: 10;
    overflow-x: hidden;
}


img{
    max-width: 100%;
    display: block;
}

.my-row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px ;
    
}

.my-col{
    width: calc((100% / 7) - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    position: relative;
}

.back{
    background-color: black;
    position: relative;
}

.ultimo-tag{
    position: absolute;
    top: 0;
    right: 20px;
    color: white;
}

.tag-speciale{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.microphone, .pinco, i{
    color: white;
    margin-top: 5px;
    margin-left: 5px;
    
    
    
    
}

.cross{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
}






.foot-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    
}



.dx>*{
    color: red;
}

.sx, .center{
    display: flex;

}


    


.control{
    background-color: #222222;
    border: none; 
    color: white; 
    padding: 5px 10px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 0.75rem;
    cursor: pointer; 
    border-radius: 4px; 
     
}
.control-special{
    color: green;
    background-color: #222222;
    border: none;
    margin-right: 10px;
    
}

.control-special p {
    color: white;
    
}

.freccia{
    color: white;
}

.audio, .video, .invite-member{
    display: flex;
    align-items: center;
}
















